@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	scroll-behavior: smooth;
}

.header_categories::-webkit-scrollbar{
	width: 0;
	height: 0;
}

.nav_link.active{
	background: #fb923c;
	font-weight: 500;
}

section:not(.admin_main section){
	padding: 40px 0;
}
.sidebar_menu_item[aria-current="page"]{
	background: #fb923c;
	font-weight: 500;
}
.admin_header{
	z-index: 999;
	background: #f9f9fa;
}
.order_products_table tr:not(:last-child) td{
	border-bottom: 1px solid #e5e7eb;
}